div.comment-container {
  border: 1px solid black;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
}

div.comment-heading {
  margin: 4px;
}

div.comment-text {
  margin: 4px;
}

div.comment-controls {
  margin: 8px;
}

button.comment-control-button {
  margin: 0 8px;
  padding: 0 8px;
  border: solid 1px black;
  line-height: 36px;
}
mat-button-toggle.comment-control-button {
  margin: 0 8px;
  padding: 0 8px;
  border: solid 1px black;
  line-height: 36px;
}
.danger {
  background-color: red;
  color: antiquewhite;
  font-weight: bold;
}


textarea.comment-text-editor {
  display: inline-flex;
  width: 70%;
  min-width: auto;
  height: auto;
  margin-left: 12pt;
  margin-right: 12pt;
  resize: vertical;
}
