.cross {
  vector-effect: non-scaling-stroke;
}

.circle {
  vector-effect: non-scaling-stroke;
}

.square {
  vector-effect: non-scaling-stroke;
}

.comment {
  fill: red;
  stroke: none;
}
.comment.selected {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.shadow {
  pointer-events: none;
  fill: url(#iconShadowGradient);
  stroke: none
}
