<div
  *ngIf="line && sentence"
  id="text-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.min-width]="width + 'px'"
>
  <div
    *ngIf="blockType === Mode.Lyrics"
    class="full-width"
    >
    <textarea autocomplete="off" #input name="text" type="text" [(ngModel)]="currentText"
           (wheel)="$event.preventDefault()"
    ></textarea>
  </div>
  <div
    *ngIf="blockType !== Mode.Lyrics">
    <textarea autocomplete="off" #input name="text" type="text" [(ngModel)]="currentText"
           (wheel)="$event.preventDefault()"
    ></textarea>
  </div>
  <app-virtual-keyboard (buttonClicked)="insertAtCaret($event)" [url]="virtualKeyboardUrl" [storePermitted]="virtualKeyboardStoringPermitted"></app-virtual-keyboard>
</div>
