<div
  *ngIf="line && sentence"
  id="text-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.min-width]="width + 'px'"
  cdkDrag
>

  <div mat-dialog-content>
    <mat-panel-title><b>{{ line.id }}</b></mat-panel-title>
    <mat-divider></mat-divider>
    <span>Available readings: {{ line.availableReadings.length }}</span>
    <mat-tab-group (selectedTabChange)="setActiveReading($event.tab.textLabel)">
      <mat-tab *ngFor="let readingName of line.availableReadings" label="{{ readingName }}">

        <div
            *ngIf="blockType === Mode.Lyrics"
            class="full-width">
              <textarea autocomplete="off"
                        #input name="text"
                        type="text"
                        [(ngModel)]="currentText"
                        (wheel)="$event.preventDefault()"
                        (mousedown)="$event.stopPropagation()"
              ></textarea>
        </div>

        <div
          *ngIf="blockType !== Mode.Lyrics"
          class="full-width">
          <textarea autocomplete="off"
                    #input name="text"
                    type="text"
                    [(ngModel)]="currentText"
                    (wheel)="$event.preventDefault()"
                    (mousedown)="$event.stopPropagation()"
          ></textarea>
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-slide-toggle [(ngModel)]="showVirtualKeyboard">Virtual keyboard</mat-slide-toggle>
    <app-virtual-keyboard *ngIf="showVirtualKeyboard" (buttonClicked)="insertAtCaret($event)" [url]="virtualKeyboardUrl" [storePermitted]="virtualKeyboardStoringPermitted"></app-virtual-keyboard>

    <!-- UI for adding and removing readings -->
    <div>
      <mat-divider></mat-divider>
      <mat-form-field>
<!--        <mat-divider matSuffix [vertical]="true"></mat-divider>-->
<!--        <mat-label>Add reading:</mat-label>-->
        <input placeholder="Reading name" label="newReadingName" matInput
               [(ngModel)]="currentReadingNameToAdd">
        <button mat-flat-button matSuffix class="key" (click)="addCurrentReading()">
          <mat-icon class="button icon"
                    matTooltip="Add reading">add</mat-icon>
        </button>

        <button mat-flat-button matSuffix class="key" (click)="removeReading(activeReading)">
          <mat-icon class="button icon" matTooltip="Delete current reading">delete</mat-icon>
        </button>

      </mat-form-field>
    </div>
  </div>

</div>
