<div
  *ngIf="line && sentence"
  id="text-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.min-width]="width + 'px'"
  cdkDrag
>

  <div mat-dialog-content>
    <mat-tab-group (selectedTabChange)="setActiveReading($event.tab.textLabel)">
      <mat-tab *ngFor="let readingName of line.availableReadings" label="{{ readingName }}">

        <div
            *ngIf="blockType === Mode.Lyrics"
            class="full-width">
              <textarea autocomplete="off"
                        #input name="text"
                        type="text"
                        [(ngModel)]="currentText"
                        (wheel)="$event.preventDefault()"
                        (mousedown)="$event.stopPropagation()"
              ></textarea>
        </div>

        <div
          *ngIf="blockType !== Mode.Lyrics"
          class="full-width">
          <textarea autocomplete="off"
                    #input name="text"
                    type="text"
                    [(ngModel)]="currentText"
                    (wheel)="$event.preventDefault()"
                    (mousedown)="$event.stopPropagation()"
          ></textarea>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <app-virtual-keyboard (buttonClicked)="insertAtCaret($event)" [url]="virtualKeyboardUrl" [storePermitted]="virtualKeyboardStoringPermitted"></app-virtual-keyboard>

</div>
