<svg:g *ngFor="let connection of annotations.connections">
  <!-- Do not show annotations for Regions that are not visible. -->
  <ng-container *ngIf="connection.musicRegion.visible">
    <ng-container *ngIf="connection.textRegion.visible">
      <g *ngFor="let syllableConnector of connection.syllableConnectors">
        <ng-container *ngIf="syllableConnector.textLine.visible">
          <ng-container *ngIf="isSyllableConnectorVisible(syllableConnector)">
            <text
              [attr.x]="syllableConnector.neume.coord.x"
              [attr.y]="syllableConnector.textLine.AABB.vcenter()"
              [attr.font-size]="syllableConnector.textLine.AABB.size.h * fontSizeCoefficient"
              [class.selected]="syllableConnector === editorTool.selectedSyllableConnection"
              (mousedown)="onSyllableMouseDown($event, syllableConnector)"
              (mouseup)="onSyllableMouseUp($event, connection, syllableConnector)"
            >{{ syllableConnector.syllable.visibleText }}</text>
          </ng-container>
        </ng-container>
      </g>
    </ng-container>
  </ng-container>
</svg:g>
