<svg:g *ngFor="let connection of annotations.connections">
  <!-- Do not show annotations for Regions that are not visible. -->
  <ng-container *ngIf="connection.musicRegion.visible">
    <ng-container *ngIf="connection.textRegion.visible">
      <g *ngFor="let syllable of connection.syllableConnectors">
        <ng-container *ngIf="syllable.textLine.visible">
          <text
            [attr.x]="syllable.neume.coord.x"
            [attr.y]="syllable.textLine.AABB.vcenter()"
            [attr.font-size]="syllable.textLine.AABB.size.h / 2"
            [class.selected]="syllable === editorTool.selectedSyllableConnection"
            (mousedown)="onSyllableMouseDown($event, syllable)"
            (mouseup)="onSyllableMouseUp($event, connection, syllable)"
          >{{ syllable.syllable.visibleText }}</text>
        </ng-container>
      </g>
    </ng-container>
  </ng-container>
</svg:g>
