<!--  *ngIf="work"-->
<div
  id="work-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.min-width]="width + 'px'"
  cdkDrag
>
  <div class="full-width">
    <h3>{{ workInfo.title }}</h3>
    <mat-divider></mat-divider>

    <br>
    <ul style="list-style: none;">
      <!--<li>Work title: {{ workInfo.title }}</li>-->
      <!--<li>No. of blocks: {{ workInfo.nBlocks }}</li>-->
      <li *ngIf="workInfo.hasOwnProperty('cantusId')">
        Cantus ID: <a href="http://cantusindex.org/id/{{ workInfo.cantusId}}"
                      target="_blank">
        {{ workInfo.cantusId }}</a>
      </li>
      <li *ngIf="comment"><br>Comment: {{ comment.text }}</li>
      <li><br><b>Text readings:</b>

        <div mat-dialog-content>
        <mat-tab-group>
          <mat-tab *ngFor="let readingName of work.availableReadings"
            label="{{ readingName }}">
            {{ work.getText(readingOrder, readingName) }}
          </mat-tab>
        </mat-tab-group>
        </div>

      </li>
      <!-- Melody in modern notation (Volpiano-based) -->
      <ng-container *ngIf="work.hasMusic">
      <li><b>Melody:</b>
        <div class="volpiano-container">
          <div class="volpiano-melody">{{ work.getVolpianoString() }}</div>
        </div>
<!--        <div>-->
<!--          <span>Pitch names (Debug): </span>-->
<!--          <ng-container *ngFor="let pitch of work.getPitches()">-->
<!--            <span>{{ pitch.pitchLetter }}{{ pitch.octave }}-</span>-->
<!--          </ng-container>-->
<!--        </div>-->
        <mat-slide-toggle [(ngModel)]="showVolpianoString">Show Volpiano string</mat-slide-toggle>
        <div *ngIf="showVolpianoString">
          <textarea autocomplete="off"
                    #input name="text"
                    type="text"
                    readonly
                    (wheel)="$event.preventDefault()"
                    (mousedown)="$event.stopPropagation()"
            >{{ work.getVolpianoString() }}
          </textarea>
        </div>
      </li>
      </ng-container>
      <ng-container *ngIf="!work.hasMusic">
        <li>
          <span><i>No music.</i></span>
        </li>
      </ng-container>
    </ul>
    <mat-divider></mat-divider>
    <div>
      <br>
      <span><b>DANGER ZONE</b></span><br>
      <span>Delete work? All associated metadata will be lost!</span>
    </div>
    <div>
      <button mat-raised-button color="warn" (click)="requestDeleteWork()" i18n="@@Delete"><mat-icon>delete_forever</mat-icon> Delete</button>
    </div>
  </div>
</div>
