<!--  *ngIf="work"-->
<div
  id="work-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.min-width]="width + 'px'"
  cdkDrag
>
  <div class="full-width">
    <h3>{{ workInfo.title }}</h3>
    <mat-divider></mat-divider>
    <ul style="list-style: none;">
      <!--<li>Work title: {{ workInfo.title }}</li>-->
      <!--<li>No. of blocks: {{ workInfo.nBlocks }}</li>-->
      <li *ngIf="workInfo.hasOwnProperty('cantusId')">
        Cantus ID: <a href="http://cantusindex.org/id/{{ workInfo.cantusId}}"
                      target="_blank">
        {{ workInfo.cantusId }}</a>
      </li>
      <li *ngIf="comment">Comment: {{ comment.text }}</li>
      <li><b>Text readings:</b>

        <div mat-dialog-content>
        <mat-tab-group>
          <mat-tab *ngFor="let readingName of work.availableReadings"
            label="{{ readingName }}">
            {{ work.getText(readingOrder, readingName) }}
          </mat-tab>
        </mat-tab-group>
        </div>

      </li>
      <li><b>Melody:</b>
        <div>
          <span>Volpiano: </span>
          <span>{{ work.getVolpianoString() }}</span>
        </div>
        <div>
          <span>Pitch names (Debug): </span>
          <ng-container *ngFor="let pitch of work.getPitches()">
            <span>{{ pitch.pitchLetter }}{{ pitch.octave }}-</span>
          </ng-container>
        </div>
      </li>
    </ul>
  </div>
</div>
