<!--  *ngIf="work"-->
<div
  id="work-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.min-width]="width + 'px'"
>
  <div class="full-width">
    <mat-label>
    <h3>Work detail: {{ workInfo.title }}</h3>
    <ul>
      <li>Work title: {{ workInfo.title }}</li>
      <li>No. of blocks: {{ workInfo.nBlocks }}</li>
      <li *ngIf="workInfo.hasOwnProperty('cantusId')">
        Cantus ID: <a href="http://cantusindex.org/id/{{ workInfo.cantusId}}"
                      target="_blank">
        {{ workInfo.cantusId }}</a>
      </li>
    </ul>
    </mat-label>
  </div>
</div>
